<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .head{
            margin-top: 20px;
            text-align: center;
        }
        .table{
            margin-top: 30px;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            
        }
    </style>
</head>
<body>
    <div class="head">
        <h1>歷史溫溼度顯示</h1>
        <h3><a href="{% url 'add_temperature' %}">新增溫溼度</a></h3>
        <h3><a href="{% url 'show_temperature1' %}">顯示目前溫溼度</a></h3>
        <h3><a href="{% url 'show_temperature2' %}">顯示目前溫溼度</a></h3>
    </div>
    <div>
        <table class="table">
            <tr>
                <th>id</th>
                <th>sensor_id</th>
                <th>溫度</th>
                <th>溼度</th>
                <th>時間</th>
            </tr>
            
            {% for data in resultList %}
            <tr>
                <td>{{data.myid}}</td>
                <td>{{data.sensor_id}}</td>
                <td>{{data.temperature}}</td>
                <td>{{data.humidity}}</td>
                {% comment %} 更改時域:台北時間 {% endcomment %}
                {% load tz %}
                {% timezone "Asia/Taipei" %}
                <td>{{data.timestamp|date:'Y-m-d H:i:s'}}</td>
                {# <th>{{data.timestamp}}</th> #}
                {% endtimezone %}
            </tr>
            {% endfor %}

        </table>
    </div>
</body>
</html>